<!-- navbar.component.html -->
<nav class="sticky top-0 z-50 bg-white/90 backdrop-blur-md border-b border-gray-200/7 shadow-sm scroll-mt-80">
    <div class="container mx-auto flex justify-between items-center py-4 px-4 sm:px-6">
      <!-- Logo -->
       <img class="w-20" src="../../../assets/images/logo.png" alt="">
      <!-- <h1 class="text-xl sm:text-2xl font-extrabold text-primary tracking-wide cursor-pointer">
        SkillNest
      </h1> -->
  
      <!-- Navigation Links -->
      <ul class="hidden sm:flex gap-8 text-darkText font-medium text-sm sm:text-base">
        <li><a href="#home" class="hover:underline underline-offset-4 hover:text-secondary transition">Home</a></li>
        <li><a href="#why-us" class="hover:underline underline-offset-4 hover:text-secondary transition">Why Us</a></li>
        <li><a href="#courses" class="hover:underline underline-offset-4 hover:text-secondary transition">Courses</a></li>
        <li><a href="#testimonials" class="hover:underline underline-offset-4 hover:text-secondary transition">Testimonials</a></li>
        <li><a href="#about" class="hover:underline underline-offset-4 hover:text-secondary transition">About</a></li>
        <li><a href="#contact" class="hover:underline underline-offset-4 hover:text-secondary transition">Contact</a></li>
      </ul>
  
      <!-- Mobile Menu Placeholder (You can add Hamburger here later) -->
    </div>
  </nav>
  